.OauthGoogle {
  height: 54px;
  margin: 1rem;
}
.OauthFaceBook {
  border: calc(0.06887vw + 0.67769px) solid #4c69ba;
  padding: calc(0.34435vw + 13.38843px) calc(0.34435vw + 18.38843px);
  font-size: calc(0.27548vw + 12.71074px);
  height: 54px;
  margin: 1rem;
}
